/*
This is an example scss partial.
*/

.example-page {
	.example-page--container {
		background-color: #e9e9e9;
	}
	.example-page--left-side {
		background-color: lighten(#e9e9e9, 15%);
		@include vendorize(transition, 0.3s);

		&:hover {
			background-color: lighten(#e9e9e9, 30%);
		}
		&:active {
			background-color: darken(#e9e9e9, 10%);
		}
	}

	.red-btn {
		&.active {
			color: red;
		}
	}

	@media screen and (min-width: 900px) {
		h1 {
			color: orange;
		}
	}
}